@import './navigation';

.main-header {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  padding: 10px;
  background: #d0d0d0 url(/images/header_background.png) no-repeat bottom left/cover;

  @media (min-width: 1080px) {
    padding: 50px;
  }
}

.header-desc {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: center;
  flex: 1;
  box-sizing: border-box;
  font: 700 34px/1.23 Garamond, serif;
  color: #fff;
  @media (min-width: 520px) {
    font-size: 60px;
  }

  @media (min-width: 1080px) {
    padding: 50px;
    width: 50%;
  }

}
