@import 'colours';

.nav {
  margin: auto auto 0;
  width: 100%;
  max-width: 700px;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 520px) {
    padding: 10px;
  }
}

.nav-item {
  flex: 1 1 50%;
  text-align: center;

  @media (min-width: 433px) {
    flex-basis: auto;
  }
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 10px 15px;
  font: 22px/1.23 Futura Md, sans-serif;
  color: #fff;
  border-bottom: 5px solid transparent;

  &:hover, &:focus {
    border-color: #fff;
  }
}
