@import './section';

.portfolio-header {
  color: #fff;
  background-color: #62929E;
}
.portfolio-list {
  & > li:nth-child(even) {
    background-color: #f1f1f1;
    & .portfolio-image { order: 2; }
    & .portfolio-info { order: 1; }
  }
}
.portfolio-item {
  @extend .section;
  display: flex;
}

.portfolio-image { flex: 1; }
.portfolio-info { flex: 2; }

.portfolio-title {
  font: 700 40px Garamond, serif;
}
