@import './section';
@import './parallax';

.portfolio-header {
  color: #fff;
  background-color: #14BDEB;
}

.portfolio-list {
  & [data-portfolio="trendstop"] {
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.87)), url(/images/trendstop-background.jpg) top center/cover
  }
  & [data-portfolio="culturetrip"] {
    color: #fff;
    background: linear-gradient(to top, rgba(39, 39, 39, 1), rgba(39, 39, 39, 0.92)), url(/images/culturetrip-background.jpg) top center/cover
  }

}
.portfolio-item {
  min-height: 100vh;
  padding: 75px 50px;
  font: 24px/30px Garamond, serif;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.portfolio-item:nth-child(even) {
  background-color: #f1f1f1;
}

.portfolio-title {
  font: 700 40px Garamond, serif;
}

.portfolio-note {
  padding-top: 30px;
  font: 18px/24px Garamond, serif;
}

.portfolio-examples {
  flex: 0 1 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-example {
  flex: 0 1 300px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-example__image {

  & img {
    display: block;
    width: 100%;
  }
}

.portfolio-example__desc {
  font: 18px/24px Garamond, serif;
  padding-top: 8px;
  text-align: center;
}
