.section {
  padding: 15px 10px;
  max-width: 1024px;
  margin: 0 auto;
  font: 18px/24px Garamond, serif;

  @media (min-width: 1024px) {
    font-size: 24px;
    padding: 75px 50px;
  }
}

.section-title {
  font: 40px/1.23 Futura Md, sans-serif;
  padding-bottom: 25px;

  @media (min-width: 520px) {
    font-size: 54px;
  }
}
